.root{

    -fx-background-color: #000022;
    -fx-background-size: cover;
    -fx-background-position: center center;


}
@font-face {
    font-family: 'Monserrat';
    src: url('font/Montserrat/Montserrat-VariableFont_wght.ttf');
}
.slogan{
    -fx-font-weight: bold;
}
.btn{
    -fx-background-color: #ff7818;
    -fx-border-color:black;
    -fx-border-style: solid;
}

.btn:hover{
    -fx-background-color: #E87423;
}